{% extends 'myadmin/base.html' %}
{% block main %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        员工管理
        <small>订餐系统后台管理</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">y员工管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">员工信息表</h3>

              <div class="box-tools">
                  <form action="{% url 'myadmin:VIP' 1%}" method="get">
{#                      反向解析有参数的需要放在url里 放在外面会报错 因为url反向解析式接收不到参数#}
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                          <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                  </form>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>员工账号</th>
                  <th>名称</th>
                  <th>当前状态</th>
                  <th>添加时间</th>
                  <th>修改时间</th>
                  <th width="200">操作</th>
                </tr>
                  {% for ls in ulist %}
                      <tr>
                      <td>{{ ls.id }}</td>
                      <td>{{ ls.username }}</td>
                      <td>{{ ls.nickname }}</td>
                      <td>{% if ls.status == 1 %}
                            <span class="label label-success">正常</span>
                          {% elif ls.status == 2 %}
                              <span class="label label-warning">禁用</span>
                          {% elif ls.status == 6 %}
                              <span class="label label-primary">管理员</span>
                          {% elif ls.status == 9 %}
                              <span class="label label-danger">删除</span>
                          {% endif %}
                      </td>
{#                      <td><span class="label label-success">正常</span></td>#}
                      <td>{{ ls.create_at }}</td>
                      <td>{{ ls.update_at }}</td>
                      <td>
                        <button onclick="upMO('{% url 'myadmin:edituser' ls.id%}')" type="button" class="btn btn-success btn-xs">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 编辑</button>
{#                          delMO触发点击事件运行对应的函数#}
                        <button onclick="delMO('{% url 'myadmin:deluser' ls.id%}')" type="button" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除</button>
                        <button type="button" class="btn btn-warning btn-xs"/>
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查看订单</button>
                      </td>
                    </tr>
                  {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
{#              分页#}
            <div class="box-footer clearfix">
            <a role="button" href={% url 'myadmin:adduser' %} class="btn btn-primary">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加员工</a>
              <ul class="pagination pagination-sm no-margin pull-right">
                  {% if ulist.has_previous %}
                      <li><a href={% url 'myadmin:VIP' page|add:-1 %}?{{ mywhere|join:'&'}}>&#8672</a></li>
                  {% endif %}
                  {% for p in all_page %}
                    <li {% if p == page%}
                        class="active"
                    {% endif %}><a href={% url 'myadmin:VIP' p%}?{{ mywhere|join:''}}>{{ p }}</a></li>
                  {% endfor %}
                  {% if ulist.has_next %}
                  <li><a href={% url 'myadmin:VIP' page|add:1%}?{{ mywhere|join:'&'}}>&#8674</a></li>
                  {% endif %}
              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}